In [10]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

#Series
x1 = Series([1,2,3,4])
x2 = Series(data = [1,2,3,4], index = [1,2,3,4])
print(x1)
print(x2)

b = {'a':1, 'b':2, 'c':3, 'd':4}
print(b)
series_b = Series(b)
print(series_b)

0    1
1    2
2    3
3    4
dtype: int64
1    1
2    2
3    3
4    4
dtype: int64
{'a': 1, 'b': 2, 'c': 3, 'd': 4}
a    1
b    2
c    3
d    4
dtype: int64

In [2]:
# DataFrame
data = {'Chinese': [66, 95, 93, 90,80],'English': [65, 85, 92, 88, 90],'Math': [30, 98, 96, 77, 90]}
df1= DataFrame(data)
df2 = DataFrame(data, index=['ZhangFei', 'GuanYu', 'ZhaoYun', 'HuangZhong', 'DianWei'], columns=['English', 'Math', 'Chinese'])
print(df1)
print(df2)

   Chinese  English  Math
0       66       65    30
1       95       85    98
2       93       92    96
3       90       88    77
4       80       90    90
            English  Math  Chinese
ZhangFei         65    30       66
GuanYu           85    98       95
ZhaoYun          92    96       93
HuangZhong       88    77       90
DianWei          90    90       80

In [3]:
# Data Cleaning

# drop
print(df2.drop(columns='English'))
print(df2.drop(index='ZhangFei'))

# rename
#df2.rename(columns={'Chinese': 'YuWen', 'English': 'Yingyu'}, inplace = True)

#drop_duplicates
df2 = df2.drop_duplicates()

# astype
#print('Chinses:\n', df2['Chinese'])
#df2['Chinese'] = df2['Chinese'].astype('str')
#print('Chinses:\n', df2['Chinese'])

# strip
# 删除左右两边空格
#df2['Chinese']=df2['Chinese'].map(str.strip)
# 删除左边空格
#df2['Chinese']=df2['Chinese'].map(str.lstrip)
# 删除右边空格
#df2['Chinese']=df2['Chinese'].map(str.rstrip)

#apply
def double_df(x):
    return 2*x;
df2['Chinese'] = df2['Chinese'].apply(double_df)
print(df2)

            Math  Chinese
ZhangFei      30       66
GuanYu        98       95
ZhaoYun       96       93
HuangZhong    77       90
DianWei       90       80
            English  Math  Chinese
GuanYu           85    98       95
ZhaoYun          92    96       93
HuangZhong       88    77       90
DianWei          90    90       80
            English  Math  Chinese
ZhangFei         65    30      132
GuanYu           85    98      190
ZhaoYun          92    96      186
HuangZhong       88    77      180
DianWei          90    90      160

In [4]:
# Statistics

# describe
df1 = DataFrame({'name':['ZhangFei', 'GuanYu', 'a', 'b', 'c'], 'data1':range(5)})
print(df1.describe())

          data1
count  5.000000
mean   2.000000
std    1.581139
min    0.000000
25%    1.000000
50%    2.000000
75%    3.000000
max    4.000000

In [5]:
# Merge
df1 = DataFrame({'name':['ZhangFei', 'GuanYu', 'a', 'b', 'c'], 'data1':range(5)})
df2 = DataFrame({'name':['ZhangFei', 'GuanYu', 'A', 'B', 'C'], 'data2':range(5)})
print("df1:\n", df1)
print("df2:\n", df2)

# column
df3 = pd.merge(df1, df2, on='name')
print("merge by name:\n", df3)

# inner
df3 = pd.merge(df1, df2, how='inner')
print("inner merge:\n", df3)

# left
df3 = pd.merge(df1, df2, how='left')
print("left merge:\n", df3)

# right
df3 = pd.merge(df1, df2, how='right')
print("right merge:\n", df3)

# outer
df3 = pd.merge(df1, df2, how='outer')
print("outer merge:\n", df3)

df1:
        name  data1
0  ZhangFei      0
1    GuanYu      1
2         a      2
3         b      3
4         c      4
df2:
        name  data2
0  ZhangFei      0
1    GuanYu      1
2         A      2
3         B      3
4         C      4
merge by name:
        name  data1  data2
0  ZhangFei      0      0
1    GuanYu      1      1
inner merge:
        name  data1  data2
0  ZhangFei      0      0
1    GuanYu      1      1
left merge:
        name  data1  data2
0  ZhangFei      0    0.0
1    GuanYu      1    1.0
2         a      2    NaN
3         b      3    NaN
4         c      4    NaN
right merge:
        name  data1  data2
0  ZhangFei    0.0      0
1    GuanYu    1.0      1
2         A    NaN      2
3         B    NaN      3
4         C    NaN      4
outer merge:
        name  data1  data2
0  ZhangFei    0.0    0.0
1    GuanYu    1.0    1.0
2         a    2.0    NaN
3         b    3.0    NaN
4         c    4.0    NaN
5         A    NaN    2.0
6         B    NaN    3.0
7         C    NaN    4.0

In [6]:
from pandasql import sqldf, load_meat, load_births
#df1 = DataFrame({'name':['ZhangFei', 'GuanYu', 'a', 'b', 'c'], 'data1':range(5)})
#pysqldf = lambda sql: sqldf(sql, globals())
#sql = "select * from df1 where name ='ZhangFei'"
#print(pysqldf(sql))
sql = "select * from df3 where data1 < 5"
print(sqldf(sql, globals()))

sql = "select * from df3 where data1 is Null or data2 is Null"
print(sqldf(sql, globals()))

       name  data1  data2
0  ZhangFei    0.0    0.0
1    GuanYu    1.0    1.0
2         a    2.0    NaN
3         b    3.0    NaN
4         c    4.0    NaN
  name  data1  data2
0    a    2.0    NaN
1    b    3.0    NaN
2    c    4.0    NaN
3    A    NaN    2.0
4    B    NaN    3.0
5    C    NaN    4.0

In [26]:
# Assignment
df = pd.read_excel("./pandas_demo.xlsx")
print(df)

df = df.drop_duplicates()
print(df)

df[u'总分'] = np.sum(df, 1)
df

   姓名  语文  英语    数学
0  张飞  66  65   NaN
1  关羽  95  85  98.0
2  赵云  95  92  96.0
3  黄忠  90  88  77.0
4  典韦  80  90  90.0
5  典韦  80  90  90.0
   姓名  语文  英语    数学
0  张飞  66  65   NaN
1  关羽  95  85  98.0
2  赵云  95  92  96.0
3  黄忠  90  88  77.0
4  典韦  80  90  90.0

   姓名  语文  英语    数学     总分
0  张飞  66  65   NaN  131.0
1  关羽  95  85  98.0  278.0
2  赵云  95  92  96.0  283.0
3  黄忠  90  88  77.0  255.0
4  典韦  80  90  90.0  260.0